<h1><%= title %></h1>
<%- messages() %>

<% if (logs && logs.length > 0) { %>
  <table class="audit-log">
    <thead>
      <tr>
        <th>Date</th>
        <th>Action</th>
        <th>Vehicle ID</th>
        <th>Before</th>
        <th>After</th>
        <th>Account ID</th>
      </tr>
    </thead>
    <tbody>
      <% logs.forEach(log => { %>
        <tr>
          <td><%= new Date(log.change_timestamp).toLocaleString() %></td>
          <td><%= log.action %></td>
          <td><%= log.inv_id %></td>
          <td>
            <pre><%= log.before_data ? JSON.stringify(JSON.parse(log.before_data), null, 2) : "" %></pre>
          </td>
          <td>
            <pre><%= log.after_data ? JSON.stringify(JSON.parse(log.after_data), null, 2) : "" %></pre>
          </td>
          <td><%= log.account_id %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <p>No audit logs available.</p>
<% } %>

