<%- include('../partials/header.ejs') %>

<main>
    <h1>Confirm Vehicle Inventory Deletion</h1>

    <% if (message) { %>
    <div class="notice"><%= message %></div>
    <% } %> 

    <% if (errors && errors.length > 0) { %>
        <div class="error-box">
        <ul>
            <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
        </div>
    <% } %>

    <p>Confirm Deletion -- This action is permanent and cannot be undone.</p>

    <form id="deleteForm" action="/inv/delete" method="post">

    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" readonly value="<%= typeof inv_make != 'undefined' ? inv_make : '' %>" />

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" readonly value="<%= typeof inv_model != 'undefined' ? inv_model : '' %>" />

    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" min="1900" max="2099" readonly value="<%= typeof inv_year != 'undefined' ? inv_year : '' %>" />

    <label for="inv_description">Description</label>
    <textarea id="inv_description" name="inv_description" readonly><%= typeof inv_description != 'undefined' ? inv_description : '' %></textarea>

    <label for="inv_image">Image Path</label>
    <input type="text" id="inv_image" name="inv_image" required value="<%= typeof inv_image != 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>" />

    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= typeof inv_thumbnail != 'undefined' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>" />

    <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" readonly step="0.01" value="<%= typeof inv_price != 'undefined' ? inv_price : '' %>" />

    <label for="inv_miles">Miles</label>
    <input type="number" id="inv_miles" name="inv_miles" readonly value="<%= typeof inv_miles != 'undefined' ? inv_miles : '' %>" />

    <label for="inv_color">Color</label>
    <input type="text" id="inv_color" name="inv_color" readonly value="<%= typeof inv_color != 'undefined' ? inv_color : '' %>" />

    <button type="submit">Delete Vehicle</button>


    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) {%> value="<%= locals.inv_id %>" <% } %>>

    </form>

</main>


<%- include('../partials/footer.ejs') %>
